body {
    text-align: center;
}

.red_title{
    color:rgb(172, 23, 23);
}

main {
    margin-top: 30px;
}
.container {
    display: grid;
    text-align: center;
    background: #ffffff;
    margin-top: 30px;
    border: 4px solid rgb(255, 122, 122);
    border-radius: 1rem;
    max-width: 400px;
    padding: 30px;
    margin: auto;
}

.item {
    padding: 10px;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}