img {
    border-radius: 1rem;
    max-width: 300px;
}

.result {
    margin: 1rem;
    padding: 1rem;
    max-width: 300px;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 122, 122);
    border-radius: 1rem;
}