main {
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

h3 {
    font-size: 2rem;
    color: darkred;
}

img {
    border-radius: 1rem;
    max-height: 350px;
    max-width: 210px;
}

.movieTitle {
    display:flex;
    color:white;
    font-size: 2rem;
    margin: auto;
    padding: 10px;
}

.result {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    max-width: 650px;
    max-height: 1500px;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 122, 122);
    border-radius: 1rem;
    margin: auto;
}

.movies {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1050px;
    margin:auto
}

.item {
    text-align: center;
    display: flex;
    padding: 10px;
}

