body {
    background-color: rgb(172, 23, 23);
    text-align: center;
}

main {
    margin: auto;
    max-width: 900px;
    border-radius: 1rem;
}    

h1 {
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

h2 {
    font-style: italic;
    color: rgb(215, 34, 34);
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
}

header {
    padding-top: 60px;
}

li {
    list-style-type: none;
  }

.loader {
    color: rgb(103, 0, 0);
    font-size: 2rem;
    margin: auto;
}

.moviePoster {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    max-width: 250px;
    max-height: 400px;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 122, 122);
    border-radius: 1rem;
}